RUBY_VERSION=
APP_NAME=
RAILS_ENV=development
RACK_ENV=${RAILS_ENV}
RAKE_ENV=${RAILS_ENV}

REDIS_URL=redis://redis:6379
REDIS_VERSION=8.2

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DB=${APP_NAME}_${RAILS_ENV}
POSTGRES_VERSION=17.6

#ELASTIC_VERSION=7.17.2
#ELASTIC_URL=elasticsearch:9200
#ELASTIC_USER=elastic
#ELASTIC_PASSWORD=changeme

#ACTION_CABLE_ADAPTER=any_cable
#ANYCABLE_RPC_HOST=anycable_server:50051
