RUBY_VERSION=
APP_NAME=
RAILS_ENV=development

REDIS_URL=redis://redis:6379
REDIS_VERSION=7.0.8

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DB=${APP_NAME}_development
POSTGRES_VERSION=15.1

#ELASTIC_VERSION=7.17.2
#ELASTIC_URL=elasticsearch:9200
#ELASTIC_USER=elastic
#ELASTIC_PASSWORD=changeme

#ACTION_CABLE_ADAPTER=any_cable
#ANYCABLE_RPC_HOST=anycable_server:50051
