version: '3'

# To access data postgres writes within container from host machine
volumes:
  postgres_data: {}

services:
  db:
    image: postgres:11-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432"
    # For using pry
    stdin_open: true
    tty: true  

  redis:
    image: redis:alpine
    ports:
      - "6379:6380"

  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app  
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"
    # For using pry
    stdin_open: true
    tty: true

  sidekiq:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: bundle exec sidekiq

  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
      args:
        RAILS_ENV: $RAILS_ENV

    depends_on:
      - app

    ports:
      - 80:80